.manage {
  min-height: 100%;
  background: #fff;
}

.wrap {
  padding: 0 16px;
}

.buttonWrap {
  margin-bottom: 16px;
}

.wrap {
  padding: 0 16px;
}

.buttonWrap {
  margin-bottom: 16px;
}

.author {
  .text {
    margin-left: 5px;
  }
}

.avatarUploader {
  width: 100%;
}
