.item {
  padding: 16px;
  background: #fff;
}

.img {
  img {
    padding: 0;
    display: block;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
  }
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .title {
    flex: 1;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 0;
  }

  .create {
    font-size: 14px;
    text-align: right;
  }
}
.content {}

.desc {}
.footer {}

.visitor {
  float: right;
  font-size: 14px;
  text-align: right;
  line-height: 32px;
}
