.ul {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  font-size: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.li {
  margin-left: 15px;
  list-style: none;
  &:first-child {
    margin-left: 0;
  }
}

